{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'car-view'
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <h1 class="car-view-header text-center">
      {{ header }}
    </h1>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {% if rows -%}
    <div class="views-rows-container">
      {{ rows }}
    </div>
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
